<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>sdf</display-name>
    <servlet-name>sdf</servlet-name>
    <servlet-class>Interface.sdf</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sdf</servlet-name>
    <url-pattern>/sdf</url-pattern>
  </servlet-mapping>
  <display-name>LearnEnglish</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MainScreen</display-name>
    <servlet-name>MainScreen</servlet-name>
    <servlet-class>Interface.MainScreen</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainScreen</servlet-name>
    <url-pattern>/MainScreen</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Learn</display-name>
    <servlet-name>Learn</servlet-name>
    <servlet-class>Test.Learn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Learn</servlet-name>
    <url-pattern>/Learn</url-pattern>
  </servlet-mapping>
</web-app>